.val1
{
text-align: center;
}
.val
{
  border: solid #212529;
 
  background-color: #212529;
  color: aliceblue;
  text-align: center;
  height: 300px;
  
  font-size: xx-large;
}
.primary
  {
    display:flex;
    justify-content:center;
    align-items: center;
  
  }
  .val2
  {
    border: solid #212529;
    text-align: center;
    height: 50px;
    background-color: #212529;  
    color: aliceblue;
  }
  body{
    margin: 0;
    /* padding: 0; */
  }
  .pa{
    padding-left: 6%;
  }